{% extends 'main/base.html' %}

{% load static %}

                {% block slider %}
                <div class="row row-sm">
                    <div class="col-lg-9">
                        <div class="home-slider owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                            'items' : 1,
                            'margin' : 0,
                            'nav' : true,
                            'dots' : false
                        }">
                            <!-- двигающаяся картинка в центре -->
                            <div class="home-slide" style="background-image: url({% static 'main/images/slider/aser.jpg' %});">
                                <div class="slide-content">
                                    <button class="btn">Посмотреть</button>
                                </div>
                            </div>
                            <div class="home-slide" style="background-image: url({% static 'main/images/slider/honor-8X.jpg' %});">
                                <div class="slide-content content-left">
                                    <button class="btn">Посмотреть</button>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-slider owl-carousel owl-theme" data-toggle="owl">
                            <div class="product-slide">
                                <h3>Горячие товары</h3>
                                <div class="product-default">
                                    <figure>
                                        <a href="product.html">
                                            <img src="{% static 'main/images/products/smart watch.jpg' %}">
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title">
                                            <a href="product.html">Samsung Galaxy Watch</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">19 190 р.</span>
                                            <span class="product-price">17 990 р.</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            <div class="product-slide">
                                <h3>Горячие товары</h3>
                                <div class="product-default">
                                    <figure>
                                        <a href="product.html">
                                            <img src="{% static 'main/images/products/TV BQ.jpg' %}">
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title">
                                            <a href="product.html">Телевизор BQ, 32"</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">14 800 р.</span>
                                            <span class="product-price">12 990 р.</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            <div class="product-slide">
                                <h3>Горячие товары</h3>
                                <div class="product-default">
                                    <figure>
                                        <a href="product.html">
                                            <img src="{% static 'main/images/products/1_it_baggage.jpg' %}">
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title">
                                            <a href="product.html">Huawei MediaPad</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">19 132 р.</span>
                                            <span class="product-price">15 490 р.</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock slider %}


            
